<%- include("header") %> 

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure veniam, magni, fugiat asperiores architecto similique ullam exercitationem debitis reiciendis pariatur mollitia itaque sapiente. Molestias architecto ad deleniti! Soluta, repellendus aliquid!</p>


<%- include("footer") %> 